body {
    margin: 0;
    margin-left:17px;
    margin-right:17px;
    padding-top:80px;
    padding-left: 80px;
    height: 3000px;
    background-color:rgba(230, 219, 219, 0.856);
    

} 

strong {
    cursor: pointer;
}